/* fonts */
/* Noto Sans KR, Cute Font */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100..900&display=swap');


/* animations */


/* styles */

/* Current application customs */
html {

    --color-apt-dark: #EF6688;   --cad: 239 102 136;
    --color-apt: #F77596;        --ca: 247 117 150;
    --color-apt-light: #FF759A;  --cal: 255 117 154;

    --color-point-dark: var(--color-apt-dark);      --cpd: var(--cad);
    --color-point: var(--color-apt);                --cp: var(--ca);
    --color-point-light: var(--color-apt-light);    --cpl: var(--cal);


    --color-rose-black: #222;   --crb: 34 34 34;
}

body {
    --common-bg-color: var(--color-apt);
    --color-text: var(--color-rose-black);

    font-family: 'Noto Sans KR';



    /* adaptive color (light/common) */
}

body[data-dark-mode="1"] {

    /* adaptive color (dark) */

}

main { font-family: 'Noto Sans KR'; }
main button, main input, main textarea { font-family: 'Noto Sans KR'; }

article { --article-theme-color: transparent; }

article h1 { font-size: 3rem; font-weight: 600; }
article h2 { font-size: 2rem; font-weight: 600; }
article h3 { font-size: 1.75rem; font-weight: 600; }
article h4 { font-size: 1.375rem; font-weight: 600; }

article button { padding: 1em; border-style: none; border-radius: 1em; }


/* override EstreUI */
nav#mainMenu > section#menuArea { background-color: rgb(var(--cal) / 90%); }
nav#mainMenu > section#menuArea ul > li > button { font-size: 1.75rem; font-weight: 600; }


footer#fixedBottom { background-color: rgb(34 34 34 / 50%); }
footer#fixedBottom nav#rootbar > button { background-color: rgb(var(--crb) / 25%); color: #FFF; }
footer#fixedBottom nav#rootbar > button[data-active="1"] { background-color: var(--color-rose-black); }



/* custom element styles */
article .line_block { border-bottom: none; border-radius: 0; }

article .bg_pointed { --bg-basic: rgb(var(--cpl) / 15%); --bg-hover: rgb(var(--cpl) / 30%); --bg-active: rgb(var(--cpl) / 60%); }



/* Data related styles */
@media all and (min-height: 700px) and (min-width: 740px) {
main#staticDoc > section#apart > div.container > article { height: fit-content; }
main#staticDoc > section#apart > div.container > article[data-article-id="main"] { position: relative; min-width: 100%; min-height: 140px; }
main#staticDoc > section#apart > div.container > article[data-article-id="main"] > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; max-width: 1200px; height: fit-content; margin: auto; }
}

main#staticDoc > section#home > div.container > article > iframe { width: 100%; height: 100%; }




/* extra preset */

.my_own_user_handle { }
.my_own_user_handle label { min-width: fit-content; overflow: hidden; }
.my_own_user_handle .sign_out { cursor: pointer; }
